<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Silence expected error logs from ClusterController during tests -->
  <logger name="org.waabox.andersoni.admin.application.ClusterController"
          level="OFF" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
